
h1{
    color:blue;
}



.red {
    color: blue;
    font-size: 100px;
}

.blue {
    color: blue;
    font-size: 100px;
}
.para1{
    background-color: gray;
}
.para2{
    background-color: lime;
}
.para3{
    background-color: lightcoral;
}